In [2]:
%pip install pandas

Collecting pandas
  Downloading pandas-1.3.3-cp39-cp39-macosx_10_9_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 367 kB/s
Collecting numpy>=1.17.3
  Downloading numpy-1.21.2-cp39-cp39-macosx_10_9_x86_64.whl (17.0 MB)
     |████████████████████████████████| 17.0 MB 114 kB/s
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 252 kB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.9 are installed in '/Library/Frameworks/Python.framework/Versions/3.9/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.21.2 pandas-1.3.3 pytz-2021.1
WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import csv
import pandas as pd

In [2]:
def display_csv_reader():
	with open('monsters.csv') as f:
		reader = csv.reader(f, delimiter=',')
		for row in reader:
			print(row[1])

In [3]:

def display_csv_reader_dict():
	with open('monsters.csv') as f:
		dictReader = csv.DictReader(f, delimiter=',')
		for row in dictReader:
			print(row["monsterName"] + " is priced at " + row["price"])

In [4]:

def display_csv_pandas():
	df = pd.read_csv('monsters.csv')
	print(df)

In [5]:
if __name__ == "__main__":
	display_csv_pandas()

    imageFile monsterName                        caption  \
0   monster01      Mingle                 Double Trouble
1   monster02       Yodel               Yodelay Hee Hoo!
2   monster03      Squido              An Eye for Design
3   monster04       Spook                 Safe and Sound
4   monster05    Melville                Networking Guru
5   monster06        Filo  Baker by Day, Techie by Night
6   monster07       Blade               Monster APPetite
7   monster08      Timber                Database Expert
8   monster09   Skedaddle                   Game of Life
9   monster10      Smiley         Don’t Worry, Be Happy!
10  monster11        Frex                    Born Leader
11  monster12       Drift                  In the Clouds

                                          description  price  scariness
0   Mingle excels at doing twice the work in half ...   0.29          2
1   Yodel grew up in a family of singers and loud ...   0.19          4
2   Squido's got his hands or rather tentacles, in...   0.29          3
3   Cracking code and battling hackers is Spook's ...   0.29          5
4   Setting up computer networks has always come e...   0.19          2
5   Filo was named after the wonderful, buttery pa...   0.29          3
6   Blade freelances as a mobile app developer and...   0.29          5
7   A natural-born problem-solver, Timber's especi...   0.19          2
8   When Skedaddle was a teenager, his parents cou...   0.29          4
9   With the bad rap they get from movies, monster...   0.29          1
10  Frex has always had a knack for leadership, st...   0.19          3
11  After years of everyone saying her head was in...   0.29          4

In [6]:
df = pd.read_csv('monsters.csv')
df

,imageFile,monsterName,caption,description,price,scariness
0,monster01,Mingle,Double Trouble,Mingle excels at doing twice the work in half ...,0.29,2
1,monster02,Yodel,Yodelay Hee Hoo!,Yodel grew up in a family of singers and loud ...,0.19,4
2,monster03,Squido,An Eye for Design,"Squido's got his hands or rather tentacles, in...",0.29,3
3,monster04,Spook,Safe and Sound,Cracking code and battling hackers is Spook's ...,0.29,5
4,monster05,Melville,Networking Guru,Setting up computer networks has always come e...,0.19,2
5,monster06,Filo,"Baker by Day, Techie by Night","Filo was named after the wonderful, buttery pa...",0.29,3
6,monster07,Blade,Monster APPetite,Blade freelances as a mobile app developer and...,0.29,5
7,monster08,Timber,Database Expert,"A natural-born problem-solver, Timber's especi...",0.19,2
8,monster09,Skedaddle,Game of Life,"When Skedaddle was a teenager, his parents cou...",0.29,4
9,monster10,Smiley,"Don’t Worry, Be Happy!","With the bad rap they get from movies, monster...",0.29,1
10,monster11,Frex,Born Leader,"Frex has always had a knack for leadership, st...",0.19,3
11,monster12,Drift,In the Clouds,After years of everyone saying her head was in...,0.29,4

In [7]:
df.describe()

           price  scariness
count  12.000000  12.000000
mean    0.256667   3.166667
std     0.049237   1.267304
min     0.190000   1.000000
25%     0.190000   2.000000
50%     0.290000   3.000000
75%     0.290000   4.000000
max     0.290000   5.000000

In [11]:
%pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.4.3-cp39-cp39-macosx_10_9_x86_64.whl (7.2 MB)
     |█▉                              | 399 kB 41 kB/s eta 0:02:44

In [10]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'